.spotify-search {
  .spotify-search-music-list {
    .spotify-search-music-list-item {
      display: flex;
      align-items: center;

      gap: 5em;
      padding:12px ;
      
      .spotify-search-music-list-item-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex: 1;
        
      }
    }
  }
}
