.page-scroll {
  .page-scroll-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 0;

    & > nav {
      display: flex;
      gap: 10px;

      a {
        position: relative;
        text-decoration: none;
        padding: 12px 20px;
        color: #fff;
        font-weight: 500;

        &.active {
          background: var(--clr);
          color: #333;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          &::before {
            content: "";
            position: absolute;
            left: -20px;
            bottom: 0;
            width: 20px;
            height: 20px;
            background: transparent;
            border-bottom-right-radius: 20px;
            box-shadow: 5px 5px 0 1px var(--clr);
          }
          &::after {
            content: "";
            position: absolute;
            right: -20px;
            bottom: 0;
            width: 20px;
            height: 20px;
            background: transparent;
            border-bottom-left-radius: 20px;
            box-shadow: -5px 5px 0 1px var(--clr);
          }
        }
      }
    }

    .logo {
      position: relative;
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      text-decoration: none;
    }
  }
  .page-scroll-content {
    & > section {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 8em;
      font-weight: 800;
      color: rgba(0, 0, 0, 0.25);
      text-transform: uppercase;
      background: var(--clr);
    }
  }
}
